h1{
    color: lightseagreen;
    text-shadow: lightseagreen;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid black; 
}
